<h1>Eat Da Burger!</h1>

<div id="burger-menus">

  <div class="menu">

    <h2>Add a Custom Burger</h2>
    <form class="form">

      <div class="form-group">
        <label for="bu">Burger Name:</label>
        <input type="text" id="bu" name="name">
      </div>

      <div class="form-group">
        <label for="eat">devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> This burger was devoured<br>
        <input type="radio" name="devoured" value="0"> Not yet devoured
      </div>

      <button type="submit" id="submit">Add Burger</button>
    </form>

  </div>

  <div class="menu">
    
    <h2>Available Burgers</h2>

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{burger_name}}
      <button class="burger" data-id="{{id}}">Eat Me!</button>
      {{/unless}}
      {{/each}}
    </ul>

  </div>

  <div class="menu">

    <h2>Eaten Burgers</h2>

    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{burger_name}}
      {{/if}}
      {{/each}}
    </ul>

  </div>

</div>